*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

header{
    height: 8%;
}

footer{
    height: 8%;
}

main{
    height: 84%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
}

#wt-sky-root{
    height: 0;
    width: 0;
}
